body{
    background-color: grey;
    border-radius: 6px;
    margin: 0;
}
.header{
    padding: 20px;
    font-family: 'Rubik', sans-serif;
    display: flex;
    flex-direction: row;
    background-color:#D3E4CD;
    padding-left: 30%;
    padding-right: 20%;
}
.about-me{
    background-color:#baddae; padding: 10px;font-family: 'Rubik', sans-serif;
    max-width: 500px;
    box-shadow: 9px 6px 5px black;
    margin-left: 10px;
}
.i{
    max-width: 300px;
}
.study{
    display: flex;
    justify-content: center;
    background-color: #99A799;
    padding-top: 20px;
    padding-bottom: 20px ;
}
.study1{
    background-color: #a1d8a1; padding: 10px;font-family: 'Rubik', sans-serif;
    box-shadow: 9px 6px 5px black;
    border-radius: 10px;
    margin-right: 20px;
}
.study2{
    background-color:#93be93; padding: 10px; font-family: 'Rubik', sans-serif;
    box-shadow: 9px 6px 5px black;
    margin-bottom:100px;
}
.sport{
    background-color:#F2DDC1; padding: 20px;font-family: 'Rubik', sans-serif; 
    display: flex;
    flex-direction: row;
    padding-left: 30%;
    padding-right: 20%;
}
.about-sport{
    max-width: 500px;
    padding-left:15px;
    background-color: #e2c39a;
    box-shadow: 9px 6px 5px black;
    border-radius: 10px;
}

.pets{
    background-color: #E2C2B9; padding: 17px;font-family: 'Rubik', sans-serif;
    display: flex;
    flex-direction: row-reverse;
    padding-left: 30%;
    padding-right: 35%;
}
.pets-1{
    margin-right: 20px;
    max-width: 500px;
    padding-left: 15px;
    padding-right: 10px;
    background-color: #e7aa98;
    box-shadow: -9px 6px 5px;
    border-radius: 10px;
}
.favorite-games{
    background-color:#816796; padding: 15pt;font-family: 'Rubik', sans-serif;
    padding-left: 40%;
    padding-right: 40%;

}
.links{
    background-color:#3e3c3f; padding: 15pt;font-family: 'Rubik', sans-serif;
}
.links>a{
    display: block;
    text-decoration: none;
    text-align: center;
}
h1{
    font-size: 25px;
    font-family: 'Oswald', sans-serif;
}
hr{
    color: rgb(17, 16, 16);
    width: 400px;
    height: 1px;
    background-color: rgb(0, 0, 0);
    border: none;
}